.appbar {
  padding: 0 11.3%;
  background: #ffffff !important;
}

.iconButton {
  margin-left: 10px !important;
}

.iconButton:hover {
  color: #a42d2d !important;
}
.content {
  flex-flow: 1;
  display: block;
}
