.filterContainer {
  /* border: 1px solid #00000030; */
  border: 2px solid #a42d2d30;
  position: fixed;
  /* background: #a42d2d20; */
  /* background: #ffffff; */
  margin: 0;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.h1 {
  margin: 0;
}
