.home {
  margin: 70px 4%;
}

.body {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.h1 {
  margin-top: 0;
}

.filterSection {
  width: 300px;
}

.contentSection {
  width: 870px;
  position: relative;
}

.searchBox {
  width: 100%;
}

.dropUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000033;
  width: fit-content;
  margin-top: 0;
  border-top: none;
  margin: 0 48%;
  border-radius: 0 0 5px 5px;
}

.growAnimation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.exportButton {
  width: fit-content;
  position: fixed;
  right: 55px;
  bottom: 50px;
}

.exportButton:hover {
  background: darkred;
}

.exportButton:hover .exportSpan {
  display: block;
}

.exportSpan {
  margin-left: 4px;
  display: none;
}

@media only screen and (max-width: 1400px) {
  .contentSection {
    width: 800px;
  }
}

@media only screen and (max-width: 1336px) {
  .contentSection {
    width: 750px;
  }
}

@media only screen and (max-width: 1270px) {
  .searchBox {
    width: 100%;
    margin: 0;
  }

  .filterSection {
    width: 28%;
    display: none;
  }

  .contentSection {
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin: 50px 1%;
  }
  .searchBox {
    width: 100%;
  }

  .line {
    display: none;
  }

  .filterSection {
    width: 28%;
    display: none;
  }

  .contentSection {
    margin-top: 70px;
    width: 100%;
    position: relative;
  }

  .h1 {
    text-align: center;
  }

  .exportButton {
    right: 25px;
    bottom: 20px;
  }
}
