.transactionBox {
  border-radius: 5px !important;
  margin: 50px 0;
}

.transaction {
  padding: 20px 40px;
  border-radius: 20px !important;
  border: 0.1px solid #00000033;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 80px !important;
  height: 80px !important;
}

.transactionStatement {
  width: 85%;
}

.creditAmout {
  color: green !important;
  background: rgba(46, 165, 46, 0.274) !important;
}

.debitAmount {
  color: #a42d2d !important;
  background: #a42d2d32 !important;
}

.statementUpper,
.statementLower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.partyBName {
  font-weight: bold;
}

.amount {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.amountSuccess {
  color: green;
}

.amountCaution {
  color: #a42d2d;
}

.statementLower {
  color: #616161;
}

.partAAccount,
.partyBName {
  width: 46%;
  flex-wrap: wrap;
}

.dateTime,
.amount {
  width: 52%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .transaction {
    margin: 25px 0;
    padding: 20px 30px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .transactionBox {
    margin: 10px 0;
  }

  .avatar {
    width: 60px !important;
    height: 60px !important;
  }

  .transaction {
    padding: 5px 10px !important;
    margin: 25px 0 !important;
  }

  .transactionStatement {
    width: 80%;
  }

  .statementUpper,
  .statementLower {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 400px) {
  .transactionStatement {
    width: 78%;
  }
}
