.transactionBox {
  border-radius: 5px;
  margin: 50px 0;
}

.transaction {
  padding: 20px 40px;
  border-radius: 20px;
  border: 0.1px solid #00000033;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 80px;
  height: 80px;
}

.transactionStatement {
  width: 85%;
}

.creditAmout {
  color: green;
  background: rgba(46, 165, 46, 0.274);
}

.debitAmount {
  color: #a42d2d;
  background: #a42d2d32;
}

.statementUpper,
.statementLower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.partyBName {
  font-weight: bold;
}

.amount {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.amountSuccess {
  color: green;
}

.amountCaution {
  color: #a42d2d;
}

.statementLower {
  color: #616161;
}

.partAAccount,
.dateTime,
.partyBName,
.amount {
  width: 46%;
  flex-wrap: wrap;
}

.dateTime,
.amount {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .transaction {
    margin: 25px 0;
    padding: 20px 30px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .transactionBox {
    margin: 10px 0;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .transaction {
    padding: 5px 10px;
    margin: 25px 0;
  }

  .transactionStatement {
    width: 80%;
  }

  .statementUpper,
  .statementLower {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 400px) {
  .transactionStatement {
    width: 78%;
  }
}
