html,
body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  color: #272b2f;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: #a42d2d;
}

button {
  background: #a42d2d;
  border: none;
  font-size: inherit;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background: #720d19;
}
/* 
.MuiTextField-root {
  color: #a42d2d;
  border: none !important;
} */

.active-chip {
  background: #a42d2d !important;
  color: #ffffff !important;
  border: none !important;
  margin-right: 10px;
}

.null-data {
  color: grey;
  font-style: italic;
}
