.home {
  margin: 50px 4%;
}

.body {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.h1 {
  margin-top: 0;
}

.filterSection {
  width: 300px;
}

.contentSection {
  width: 65%;
  position: relative;
}

.searchBox {
  width: 100%;
}

.dropUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000033;
  width: fit-content;
  margin-top: 0;
  border-top: none;
  margin: 0 48%;
  border-radius: 0 0 5px 5px;
}

.growAnimation {
  display: flex;
  flex-direction: column;
  position: relative;
}

.exportButton {
  right: 25px !important;
  bottom: 30px !important;
  position: fixed !important;
  width: fit-content !important;
}

.exportButton:hover {
  background: darkred !important;
}

.exportButton:hover .exportSpan {
  display: block !important;
}

.exportSpan {
  margin-left: 4px !important;
  display: none !important;
}

.mobileFilterButton {
  display: none !important;
}

.mobileFilterSpan {
  display: none !important;
}

@media only screen and (max-width: 1400px) {
  .contentSection {
    width: 61%;
  }

  .mobileFilterButton {
    display: none !important;
  }
}

/* @media only screen and (max-width: 1336px) {
  .contentSection {
    width: 60%;
  }

  .mobileFilterButton {
    display: none !important;
  }
} */

@media only screen and (max-width: 1270px) {
  .searchBox {
    width: 100%;
    margin: 0;
  }

  .filterSection {
    width: 28%;
    display: none;
  }

  .contentSection {
    width: 100%;
    position: relative;
  }

  .exportButton {
    right: 15px !important;
    bottom: 80px !important;
  }

  .mobileFilterButton {
    display: flex !important;
    right: 15px !important;
    bottom: 15px !important;
    width: fit-content !important;
    position: fixed !important;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin: 50px 1%;
  }
  .searchBox {
    width: 100%;
  }

  .line {
    display: none;
  }

  .filterSection {
    display: none;
  }

  .filterSectionMobile {
    width: 250px !important;
  }

  .contentSectionMobile {
    display: none !important;
  }

  .contentSection {
    width: 100%;
    position: relative;
  }

  .h1 {
    text-align: center;
  }

  .exportButton {
    right: 15px !important;
    bottom: 80px !important;
  }

  .mobileFilterButton {
    display: flex !important;
    right: 15px !important;
    bottom: 15px !important;
    width: fit-content !important;
    position: fixed !important;
  }

  .exportButton:hover .exportSpan {
    display: none !important;
  }
}
