.home {
  margin: 50px 13%;
}

.searchBox {
  width: 50%;
  margin: 0 25%;
}

.dropUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000033;
  width: fit-content;
  margin-top: 0;
  border-top: none;
  margin: 0 48%;
  border-radius: 0 0 5px 5px;
}

.growAnimation {
  transform-origin: 0 0 0;
}

@media only screen and (max-width: 1200px) {
  .searchBox {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin: 50px 1%;
  }
  .searchBox {
    width: 100%;
  }

  .line {
    display: none;
  }
}
